# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Golang files
[*.go]
charset = utf-8
indent_style = tab
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Makefiles require tabs
[Makefile]
indent_style = tab

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false  # Allow trailing spaces in markdown for line breaks
